 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 201px;
}

.u-section-1 .u-text-1 {
  margin: 129px 105px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 166px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 61px 0 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 52px;
    margin-bottom: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 197px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 511px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  background-image: none;
  margin: 31px 273px 0 412px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

.u-section-2 .u-btn-2 {
  background-image: none;
}

.u-section-2 .u-image-1 {
  width: 262px;
  height: 348px;
  margin: -388px 0 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 3rem;
  margin: -265px auto 0 0;
}

.u-section-2 .u-social-icons-1 {
  height: 40px;
  min-height: 16px;
  width: 139px;
  min-width: 68px;
  margin: 278px auto 30px;
}

.u-section-2 .u-icon-1 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-right: 306px;
    margin-left: 233px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -429px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 707px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 268px;
    margin-bottom: 39px;
    margin-left: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 131px;
    margin-right: 319px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -521px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -367px;
    margin-right: 487px;
  }

  .u-section-2 .u-social-icons-1 {
    width: 140px;
    margin: 343px 61px 60px auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 94px;
    margin-right: 270px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -306px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-top: -356px;
    margin-right: 307px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 244px;
    margin-bottom: 15px;
    margin-left: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-2 .u-btn-1 {
    padding: 0;
  }

  .u-section-2 .u-btn-2 {
    padding: 0;
  }

  .u-section-2 .u-image-1 {
    width: 138px;
    height: 183px;
    margin-top: -215px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    width: 233px;
    margin-top: -295px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-social-icons-1 {
    margin: 313px auto 34px 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 530px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 65px 706px 0 0;
}

.u-section-3 .u-form-1 {
  height: 424px;
  margin: -104px 0 0 570px;
}

.u-section-3 .u-label-1 {
  text-decoration: underline !important;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.u-section-3 .u-label-2 {
  text-decoration: underline !important;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.u-section-3 .u-label-3 {
  text-decoration: underline !important;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: -270px 668px 60px 38px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-right: 506px;
  }

  .u-section-3 .u-form-1 {
    margin-top: -16px;
    margin-left: 370px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -344px;
    margin-right: 506px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-form-1 {
    width: 570px;
    margin-top: 237px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 434px;
    margin-top: -650px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 23px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 263px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -664px;
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 61px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 246px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -642px;
    margin-left: 0;
    margin-right: 0;
  }
}